.features {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin small {
    padding-left: 94px;
  }

  &_icon {
    display: block;
    margin: 0 auto;

    @mixin small {
      position: absolute;
      left: 0;
    }
  }

  &_title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;
    text-align: center;

    @mixin small {
      text-align: inherit;
      margin-top: 1rem;
      font-size: 1.875rem;
    }
  }
}
