.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &-medium {
    max-width: 976px;
  }

  &-smaller {
    max-width: 470px;
  }

  &-no-padding-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin medium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &-no-padding-large {
    padding-left: 0;
    padding-right: 0;

    @mixin large {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &-bot-margin {
      margin-bottom: 1rem;
    @mixin small {
        margin-bottom: 3.875rem;
    }
  }
}
